.Todo-task {
    padding: 5px 2%;
    display: flex;
    flex-direction: row;
}

.Todo-task:hover {
    background-color: #DBDBDB;
    cursor: pointer;
}

.Author {
    color: grey;
}

.deleteBtn {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.deleteIcon {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 2px;
    border-radius: 25%;
}