/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    .App {
        margin: 10px 5%;
    }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
    .App {
        margin: 10px 7%;
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
    .App {
        margin: 10px 10%;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
    .App {
        margin: 10px 12%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .App {
        margin: 10px 15%;
    }
}